In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

#ignore warnings
import warnings
warnings.filterwarnings("ignore")

import wrangle as w

In [2]:
records = w.get_health_data('Record')

In [3]:
records = w.clean_records_list(records)

In [4]:
records = w.records_list_time_zone_fun(records)

In [5]:
daily_info = w.get_daily_info(records)

In [7]:
daily_info['2022']

              steps  weight  resting_hr  exercise_time  calorie_intake
date
2022-01-01  34606.0   94.40        58.0           98.0             NaN
2022-01-02  32547.0   96.00        61.0           99.0             NaN
2022-01-03  26157.0   96.20        61.0          112.0             NaN
2022-01-04  34361.0   95.80        63.0          129.0             NaN
2022-01-05  31239.0   94.60        63.0          156.0             NaN
...             ...     ...         ...            ...             ...
2022-12-04  18257.0   90.45        55.0           96.0       2175.3822
2022-12-05  26612.0   91.30        55.0           99.0       2051.4562
2022-12-06  28018.0   91.05        56.0          116.0       1857.4362
2022-12-07  27951.0   90.65        55.0          113.0       1656.5191
2022-12-08   8794.0   90.00        55.0           28.0       1066.3762

[342 rows x 5 columns]